/**********************  BANNER   *******************/
.banner-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../images/banner-hero.jpeg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner-admin {
    position: relative;
    width: 100%;
    height: 87vh;
    background-image: url('../images/banner-admin.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content-banner {
    flex: 1 1 35%;
    max-width: 35%;
    height: 40%;
    margin-right: 4em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.banner-admin .content-banner {
    margin-left: 4em;
}

.content-banner h1 {
    color: var(--secondary);
}

@media (max-width: 1024px) {
    .content-banner {
        flex: 1 1 100%;
        max-width: 70%;
        margin: auto;
        text-align: center;
    }
}

.btn-scroll {
    position: absolute;
    display: block;
    bottom: 2%;
    left: 50%;
    font-size: 2rem;
}

.btn-scroll svg {
    width: 40px;
    padding: 5px 5px 2px 5px;
    border: 1px solid;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.btn-scroll:hover svg {
    fill: #ababab;
    border-color: #ababab;
    transform: translateY(-3px);
}

.btn-scroll a i {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 50%;
}

/**********************  FEATURES  *******************/
.liste-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    margin: 2em 0;
}

.card-feature {
    width: 300px;
    border: 1px solid var(--secondary);
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--secondary);
    box-shadow: var(--box-shadow);
}

.card-feature-img {
    overflow: hidden;
}

.card-feature img {
    width: 100%;
    transition: all 0.6s ease-in-out;
}

.card-feature img:hover {
    transform: scale(1.5);
}

.card-feature-body {
    padding: 1em;
    text-align: center;
}

.card-title {
    font-size: 2rem;
}

.btn-feature {
    padding: 5px 10px;
    border-radius: 5px;
    background: linear-gradient(to left, var(--primary) 50%, var(--terciary) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.btn-feature:hover {
    background-position: left;
}

/**********************  CARD  *******************/
.card {
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    overflow: hidden;
}

.card-body {
    padding: 1em;
}

.card-title {
    font-size: 1.5em;
}

.liste-users {
    margin: 2em 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.liste-users-admin {
    grid-template-columns: repeat(3, 1fr);
}

.card-btn {
    padding: 1em;
}

.card-btn a {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
}

.card img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    object-position: 100% 0;
}

.article-content {
    margin: 1em 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-info {
    width: 20%;
    margin-right: 1em;
    padding: 1em;
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.article-desc {
    width: 70%;
}

/**********************  USER LIST   *******************/
.user-list {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
}

.user-card {
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    background: white;
    overflow: hidden;
    padding: 30px 0 45px;
    position: relative;
    transition: all .3s linear;
}

.user-card:hover {
    background: var(--primary);
    transform: translateY(-3px);
}

.user-card span {
    font-size: 70px;
    position: absolute;
    right: 25px;
    top: 50px;
    color: #5584AC;
    transition: all .3s linear;
}

.user-card:hover span {
    color: white;
}

.user-card h2 {
    background: var(--primary);
    border-radius: 0 30px 30px 0;
    color: var(--white);
    display: inline-block;
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 30px;
    padding: 15px 30px;
    text-transform: capitalize;
    transition: all .3s linear;
}

.user-card:hover h2 {
    background: white;
    color: var(--primary);
}

.user-card ul {
    display: flex;
    justify-content: center;
}

.user-icon img {
    margin-right: 20px;
    width: 100px;
    max-height: 100px;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    object-fit: cover;
    transition: all .3s linear;
}

.user-card ul li h3 {
    margin-bottom: 12px;
    text-transform: capitalize;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all .3s linear;
}

.user-card:hover ul li h3 {
    color: white;
}

.btn-user {
    padding: 10px 20px;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 900;
    cursor: pointer;
    transition: all .3s linear;
}

.user-card:hover .btn-user {
    background-color: var(--secondary);
    color: white;
}

/**********************  CONTACT FORM   *******************/
.form-contact {
    padding: 1em;
    border: 1px solid var(--primary);
    border-radius: 5px;
    box-shadow: 4px 4px 3px rgb(121, 121, 121);
    margin: 1em 0px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1em;
}

.contact div {
    margin-top: 1em;
}

.contact input,
.form-login-input input,
.form-contact textarea {
    padding: 5px;
    border: solid 1px var(--primary);
    border-radius: 5px;
}

.form-login-input textarea {
    padding: 5px;
    border: solid 1px var(--primary);
    border-radius: 5px;
}

.btn-form {
    padding: 10px 20px;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 900;
    cursor: pointer;
}

.form-login-area {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 1em;
    border: 1px solid var(--primary);
    border-radius: 5px;
    box-shadow: 4px 4px 3px rgb(121, 121, 121);
}

.form-login-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
    margin-bottom: 1em;
}

.form-article-auteur {
    border-radius: 8px;
    padding: 1em;
    border: solid 1px var(--secondary);
    width: 50%;
    text-align: center;
    margin: auto;
}

.form-article {
    justify-content: center;
}

.tox-tinymce {
    width: 100%;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-editor {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.text-editor {
    width: 100%;
    margin-top: 10px;
}

.input-group label {
    margin-right: 10px;
}

/**********************  CONTACT PAGE   *******************/

#contact {
    width: 100%;
    max-width: 100%;
    margin: 4em auto 0 auto;
    padding: 1em;
    background: linear-gradient(0deg, var(--primary), var(--secondary));
}

.contact-content {
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.contact-content h2 {
    margin-bottom: 20px;
}

.contact-content p {
    width: 30%;
    margin-right: 1em;
}

.contact-form-content {
    width: 55%;
    position: relative;
    padding: 1em;
}

.contact-bg {
    height: 20%;
    width: 10%;
    border-radius: 8px;
    position: absolute;
    transition: all .6s ease-in-out;
}

.contact-bg.bg-1 {
    background-color: var(--secondary);
    top: 0;
    right: -10px;
}

.contact-bg.bg-2 {
    background-color: var(--terciary);
    bottom: 0;
    left: -10px;
}

.contact-form {
    padding: 1em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.contact-form .alert {
    width: 100%;
}

.contact-form-content:hover .contact-bg.bg-1 {
    transform: translate(-920%);
}

.contact-form-content:hover .contact-bg.bg-2 {
    transform: translate(920%);
}

.textarea {
    align-items: flex-start;
    width: 100%;
}

.input-group textarea {
    width: 80% !important;
    height: 50px !important;
    max-height: 50px !important;
}

.btn-contact {
    width: 100%;
    text-align: center;
    margin: 1em auto 0 auto;
}

/**********************  ADMIN PAGE   *******************/
.list-admin {
    margin: 2em 0;
    display: flex;
    justify-content: space-around;
}

.list-admin .card {
    width: 300px;
    text-align: center;
}