/**********************  BANNER   *******************/
.banner {
    background: center / cover url(../images/banner-admin.jpeg);
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    position: relative;
}

.banner.left {
    justify-content: flex-start;
}

.banner-title {
    max-width: 40%;
    margin-left: 4em;
    background: rgba(255, 255, 255, 0.4);
    padding: 2em;
    border-radius: 16px;
    backdrop-filter: blur(5px);
}

.banner-title h1 {
    font-size: 40px;
}

.btn-scroll {
    position: absolute;
    display: block;
    bottom: 2%;
    left: 50%;
    font-size: 2.5rem;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.4);
    transition: all .3s ease-in-out;
}

.btn-scroll:hover {
    color: rgba(255, 255, 255, 1);
    transform: translateY(-3px);
}

.article-content {
    margin: 1em 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-info {
    width: 20%;
    margin-right: 1em;
    padding: 1em;
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.article-desc {
    width: 70%;
}

/**********************  CONTACT FORM   *******************/
.form-contact {
    padding: 1em;
    border: 1px solid var(--primary);
    border-radius: 5px;
    box-shadow: 4px 4px 3px rgb(121, 121, 121);
    margin: 1em 0px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1em;
}

.contact div {
    margin-top: 1em;
}

.contact input{
    padding: 5px;
    border: solid 1px var(--primary);
    border-radius: 5px;
}

/**********************  CONTACT PAGE   *******************/

#contact {
    width: 100%;
    max-width: 100%;
    margin: 4em auto 0 auto;
    padding: 1em;
    background: linear-gradient(0deg, var(--primary), var(--secondary));
}

.contact-content {
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.contact-content h2 {
    margin-bottom: 20px;
}

.contact-content p {
    width: 30%;
    margin-right: 1em;
}

.contact-form-content {
    width: 55%;
    position: relative;
    padding: 1em;
}

.contact-bg {
    height: 20%;
    width: 10%;
    border-radius: 8px;
    position: absolute;
    transition: all .6s ease-in-out;
}

.contact-bg.bg-1 {
    background-color: var(--secondary);
    top: 0;
    right: -10px;
}

.contact-bg.bg-2 {
    background-color: var(--terciary);
    bottom: 0;
    left: -10px;
}

.contact-form {
    padding: 1em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.contact-form .alert {
    width: 100%;
}

.contact-form-content:hover .contact-bg.bg-1 {
    transform: translate(-920%);
}

.contact-form-content:hover .contact-bg.bg-2 {
    transform: translate(920%);
}

.textarea {
    align-items: flex-start;
    width: 100%;
}

.input-group textarea {
    width: 80% !important;
    height: 50px !important;
    max-height: 50px !important;
}

.btn-contact {
    width: 100%;
    text-align: center;
    margin: 1em auto 0 auto;
}