@font-face {
    font-family: "Foobar";
    src: url('./font/foobar-pro-cufonfonts-webfont/Foobar\ Pro-Regular.woff') format('woff');
}

:root {
    --primary: #95D1CC;
    --secondary: #22577E;
    --terciary: #F6F2D4;
    --box-shadow: 1px 1px 40px -15px rgba(0, 0, 0, 0.7);
    --border-radius: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    scroll-padding-top: calc(1em + 50px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary);
    font-weight: 900;
    margin-bottom: 10px;
    line-height: 120%;
    font-family: 'Foobar';
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.8em;
}

p {
    font-size: 1em;
    line-height: 120%;
    margin: 10px 0;
    word-break: break-word;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin-bottom: 0px;
    display: inline-block;
}

.container,
section {
    width: 90%;
    margin: auto;
}

section {
    margin: 1em auto;
}

.navbar {
    background-color: var(--primary);
    height: 50px;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar h3 {
    color: var(--secondary);
    margin-bottom: 0;
}

.navbar-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    display: flex;
    flex-wrap: wrap;
}

.navbar-list li:not(:last-child) {
    margin-right: 10px;
}

.alert {
    width: 70%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.alert-danger {
    background-color: rgba(184, 72, 72, 0.502);
    border: 1px solid rgb(164, 21, 21);
}

.alert-success {
    background-color: rgba(72, 184, 122, 0.502);
    border: 1px solid rgb(72, 184, 122);
}

.alert-success p, 
.alert-danger p {
    width: 100%!important;
}

.mt-2 {
    margin-top: 1.5em;
}

.mb-2 {
    margin-bottom: 1.5em;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    font-weight: 900;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-size: 16px;
}

.btn-center {
    display: block;
    width: max-content;
    margin: auto;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--secondary);
    color: whitesmoke;
}

.btn-success {
    background: rgba(72, 184, 122, 0.5);
    border: 1px solid rgb(72, 184, 122);
}

.btn-danger {
    background-color: rgba(184, 72, 72, 0.5);
    border: 1px solid rgb(184, 72, 72); 
}

.hidden {
    display: none;
}

.separator {
    border: none;
    border-top: 1px solid var(--secondary);
}

.text-right {
    text-align: right;
}

.tier {
    width: 25%;
}

.middle {
    width: 50%;
}

.middle.right {
    margin-left: auto;
}

.form-content {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 1em;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary);
    box-shadow: var(--box-shadow);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    margin-bottom: 1em;
}

.flex-start {
    justify-content: flex-start;
}

.form-img {
    width: 50%;
    border-radius: 8px;
    overflow: hidden;
}

.form-img img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: top;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

input, 
textarea {
    padding: 5px;
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
}

.link-signup {
    text-align: left;
    text-decoration: underline;
    display: block;
}

/**********************  CARD  *******************/
.card {
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.card-body {
    padding: 1em;
}

.card-title {
    display: flex;
    gap: 1em;
    align-items: center;
}

.card-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    width: 100%;
    background-color: var(--primary);
    padding: 0.6em;
    text-align: center;
}